testgit/src/main/mule/testgit.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="5344a473-51b9-4181-bd53-45783a601133" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="testgitFlow" doc:id="e81acb13-7bca-4180-a6c9-38755bdd8fc3" >
		<http:listener doc:name="Listener" doc:id="cb0c18d9-1c0f-4209-9775-fa58a9db8468" config-ref="HTTP_Listener_config" path="/*"/>
		<set-payload value="This is Git test" doc:name="Set Payload" doc:id="7d3c12e4-a5d5-49c5-b901-e762335e9b10" />
		<logger level="INFO" doc:name="Logger" doc:id="bf21c045-4d77-470c-bd4f-1f66260ab205" message="#[payload]"/>
	</flow>
</mule>
